<style type="text/css">

* {
	box-sizing: border-box;
	margin: 1px;
	padding: 1px;
	border: 1px;
}

#container {

position: absolute;
top: 50px;
margin-right: 5px; 
margin-left: 5px;
margin-bottom: 5px;
margin-top: 5px;
}

h1 {
	font-family: 'Open Sans', sans-serif; 
	color:#000000;
	text-align: center;
	margin-bottom: 5px;	
}	

#chicken {
    width: 100px;
    height: 25px;
	background-color: #ff8c00;
	color: #1c1c1c;
    position: relative;
    float: right left;
    margin-right: 200px;
    margin-left: 200px;
	font-family: 'Open Sans', sans-serif;
	border: 2px solid black;

}

#beef {

	width: 100px;
    height: 25px;
	background-color: #ffa500;
	color: #1c1c1c;
    position: relative;
    float: left;
    margin-right: 200px;
    margin-left: 200px;
	font-family: 'Open Sans', sans-serif;
	border: 2px solid black;

}

#sushi{
	width: 100px;
    height: 25px;
	background-color: #ffd700;
	color: #1c1c1c;
    position: relative;
    float: left;
    margin-right: 200px;
    margin-left: 200px;
	font-family: 'Open Sans', sans-serif;
	border: 2px solid black;
}



#p1 {
    width: 300px;
    height: 150px;
	background-color: #8B4513;
	color: #F8F8FF;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-left: 10px; 
	font-family: 'Roboto', sans-serif;
	border: 2px solid black;
    
}

#p2 {
	width: 300px;
    height: 150px;
	background-color: #8B4513;
	color: #F8F8FF;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	border: 2px solid black;
}

#p3 {	
	width: 300px;
    height: 150px;
	background-color: #8B4513;
	color: #F8F8FF;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	border: 2px solid black;
}
 
section {

	clear: right;
}

 @media (min-width: 767px) and (max-width: : 992px) {
 	.titlechicken, .textchicken, .titlebeef, .textbeef, .titlesushi, .textsushi {
 		float: left;
 		
 	}
 
.titlechicken {
	width: 80%;
}
.textchicken {
	width: 80%;
}

.titlebeef {
	width: 80%; 
}
.textbeef {
	width: 80%;
}

.titlesushi {
	width: 80%
}

.textsushi {
	width: 80% 
}
</style>
